<div id="sideNavBar">
    <div >
                 
            <!-- <img class="logo" style="margin-left:15px" src="/images/boodskap/device.png" height="35"> <span style="font-size: 1.2rem;color:#0662e9"> Data Analytics </span> 
             <hr style="box-shadow: 0px 0px 9px 1px #eee;">       -->
        <ul style="white-space:nowrap;">

            <li style="border-bottom:2px solid #e9ecef;box-shadow: 0px 0px 9px 1px #e9ecef;background:#0662e9" data-toggle="tooltip" title="Boodskap Demo" class="leftMenu">
                <a style="text-align:center;margin-top:5px;margin-bottom:5px;">
                    <img class="logo" src="/images/boodskap/device.png" height="35">
                    <span style="font-size: 1.2rem;color:#fff"> Boodskap Demo </span>
                </a>
            </li>



            <li id="pms" class=" lmenu active">
                <a href="/pms">
                   <img src="images/icons/pms.png" width="35px"  alt="" title=" Power Management">
                   <span> Power Management</span> 
                </a>
            </li>
            <li id="rms" class="lmenu">
                <a href="/rms">
                    <img src="images/icons/home.png" width="35px" alt="" title=" Room Maintenance">
                    <span> Room Maintenance</span>
                </a>
            </li> 
            <li id="fm" class="lmenu">
                <a href="/fm">
                    <img src="images/icons/fm.png" width="35px" alt="" title=" Flow Meter">
                    <span> Flow Meter</span>
                </a>
            </li> 
            <li id="th" class="lmenu">
                <a href="/th">
                    <img src="images/icons/th.png" style="transform: rotate(-90deg);" width="35px" alt="" title=" Temperature & Humidity">
                    <span> Temperature & Humidity</span>
                </a>
            </li> 
            <!-- class="barwidth show" -->

        </ul>
    </div>
</div>